@import "reset.css";
@import "header.css";
@import "main.css";
@import "footer.css";

@keyframes action1 {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes action2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
    "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
}

.invisible {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  text-align: center;
  line-height: 40vh;
  box-sizing: border-box;
  padding: 30vh 30vw 30vh 30vw;
  background-clip: content-box;
  font-size: 2rem;
  color: white;
  font-weight: bolder;
}
.success {
  background-color: rgba(245, 121, 58, 0.7);
}
.fail {
  background-color: rgba(133, 191, 249, 0.7);
}
